body{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
/* navigation bar */
#navbar{
    flex-direction: column ;
    padding: 0%;
}
#navbar ul li a{
    padding: 0px;
    padding-bottom: 3px;
    font-size: 0.4rem;
} 
/* Home section */
section.home {
    height: 255px;
    padding: 0%;
}

section.home::before{
    width: 100vw;
    height: 400px;
}
.home p{
    height: 30px;
    font-size: 0.8rem;
}
/* service section */
#service{
    flex-direction: column;
    padding : 2px 2px;
}
.about #service .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
}
 .box img{
    margin: auto;

}
/* partner section */
section#client-section{
    flex-wrap: wrap;
    height: 130px;
}
#client-section img{
    padding: 2px 12px;
    height: 50px;
    width: 50px;
}
/* contact section */
/* footer */
/* utility classes */

 h1.hclass{
    font-size: 20px;
}